<h1>View all Tasks</h1>
<div class="task-list">
  {{#each tasks}}
    <div class="task">
      {{#if this.done}}
        <a href="/tasks/edit/{{this.id}}" class="title done">{{this.title}}</a>
        <div class="actions">
          <form action="/tasks/updatestatus" method="post">
            <input type="hidden" name="id" value="{{this.id}}" />
            <input type="hidden" name="done" value="{{this.done}}" />
            <button type="submit">
              <i class="bi bi-check2 done"></i>
            </button>
          </form>
          <a href="/tasks/edit/{{this.id}}">
            <i class="bi bi-pencil-square done"></i>
          </a>
          <form action="/tasks/remove" method="post">
            <input type="hidden" name="id" value="{{this.id}}" />
            <button type="submit">
              <i class="bi bi-x-lg done"></i>
            </button>
          </form>
        </div>
      {{else}}
        <a href="/tasks/edit/{{this.id}}" class="title">{{this.title}}</a>
        <div class="actions">
          <form action="/tasks/updatestatus" method="post">
            <input type="hidden" name="id" value="{{this.id}}" />
            <input type="hidden" name="done" value="{{this.done}}" />
            <button type="submit">
              <i class="bi bi-check2"></i>
            </button>
          </form>
          <a href="/tasks/edit/{{this.id}}">
            <i class="bi bi-pencil-square"></i>
          </a>
          <form action="/tasks/remove" method="post">
            <input type="hidden" name="id" value="{{this.id}}" />
            <button type="submit">
              <i class="bi bi-x-lg"></i>
            </button>
          </form>
        </div>
      {{/if}}
    </div>
  {{/each}}
</div>